.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.todolist {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 30px;
  border: 2px solid #555555;
  border-radius: 7px;
  padding: 10px;
  text-align: left;
  background-color: snow;
}
.tdl_header {
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  position: relative;
  min-height: 45px;
}
.tdl_title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #350d4d;
  line-height: 45px;
  vertical-align: middle;
}
.tdl_header input {
  font-family: 'Open Sans', sans-serif;
  width: 230px;
  font-size: 20px;
  font-weight: 700;
}

.AddItemForm {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 280px;
  margin: 5px 0;
}

.filter {
  text-align: center;
  margin: 5px auto;
}

.filter button {
  width: 93px;
}




